*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Courier New', Courier, monospace;}
html,body{width: 100%;}

h1{text-align: center;}

.container{
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
}

.item{
    background-color:#ccc;
    margin: 5px;
    flex: 1;
    font-weight: bold;
}

.flex{display: flex;}

.row{flex-direction: row;}
.row-rev{flex-direction: row-reverse;}
.column{flex-direction: column}
.column-rev{flex-direction: column-reverse;}
