*{margin: 0;padding: 0;box-sizing: border-box;font-family:monospace;}
body > div {
	padding: 40px 0;
}

body > div:nth-of-type(even) {
	background: rgba(0, 0, 0, 0.137);
}
h1{
    text-align: center;
    font-size: 1.5em;
    
}

section{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid rgb(100, 100, 100);
}

.item{
    text-align: center;
    background-color: tomato;
    /* margin: 5px; */
    font-size: 1.25em;
}

.grid{display: grid;}

.item{
    text-align: center;
    background-color: tomato;
    margin: 5px;
    font-size: 1.25em;
}

.grid-auto-flow-column{
    grid-auto-flow: column;
}

.grid-auto-flow-column-2{
    grid-auto-flow: column;
    grid-auto-rows: 50px 50px;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-columns: 50px;
}

.grid-auto-flow-dense{
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
}

.item-2, .item-4{
    grid-column: span 3;
}