*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Courier New', Courier, monospace;}
html,body{width: 100%;}

h1{text-align: center;}

.container{
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    display: flex;
}

.item{
    background-color:#ccc;
    margin: 5px;
    /* flex: 1; */
    padding: 0 10px;
    font-weight: bold;
}

.flex-start{justify-content: flex-start;}
.flex-end{justify-content: flex-end;}
.center{justify-content: center;}
.space-around{justify-content: space-around;}
.space-between{justify-content: space-between;}
.space-evenly{justify-content: space-evenly;}